body {
  background: #1a3b31;
  font-family: "Unna", serif;
}
.App {
  max-width: 960px;
  margin: 0 auto;
}

.App header {
  margin: 30px auto;
}
.App h1 {
  font-size: 60px;
  text-align: center;
  color: #faf286;
  font-family: "Alkalami", serif;
}
.App a {
  color: #faf286;
}
.App a:hover {
  opacity: 0.7;
}
.App footer {
  text-align: center;
  color: #faf286;
  margin: 30px 0;
}
